<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.app">

    <application
        android:name="com.demo.app.MyApplication"
        android:icon="@android:mipmap/sym_def_app_icon"
        android:label="组件化"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        <activity android:name="com.demo.app.FirstActivity" />
        <activity android:name="com.demo.app.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>